In [2]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("info/car_review.csv")
df.head()

,Brand,Model,Drive,Quality of interior,Infotainment system,Comfort,Performance,Handling,Practicality,Reliability,Safety,Quality of construction,Noise,Engine,Price,Overall
0,MG,MG3,Positive,Medium,Positive,Not mentioned,Positive,Positive,Negative,Not mentioned,Not mentioned,Medium,Not mentioned,Positive,16995.0,8.0
1,MG,HS,Medium,Negative,Negative,Positive,Medium,Negative,Positive,Not mentioned,Not mentioned,Negative,Medium,Positive,25995.0,7.0
2,MG,Cyberster,Not mentioned,Positive,Negative,Positive,Positive,Medium,Positive,Not mentioned,Not mentioned,Positive,Negative,Not mentioned,54995.0,7.0
3,MG,ZS,Positive,Medium,Positive,Negative,Medium,Positive,Positive,Not mentioned,Negative,Not mentioned,Negative,Medium,18605.0,6.0
4,MG,MG4 EV,Positive,Medium,Negative,Positive,Positive,Positive,Mixed,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Positive,26995.0,8.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Brand                    203 non-null    object
 1   Model                    203 non-null    object
 2   Drive                    203 non-null    object
 3   Quality of interior      203 non-null    object
 4   Infotainment system      203 non-null    object
 5   Comfort                  203 non-null    object
 6   Performance              203 non-null    object
 7   Handling                 203 non-null    object
 8   Practicality             203 non-null    object
 9   Reliability              203 non-null    object
 10  Safety                   203 non-null    object
 11  Quality of construction  203 non-null    object
 12  Noise                    203 non-null    object
 13  Engine                   203 non-null    object
 14  Price                    203 non-null    float64
 15  Overall                  203 non-null    float64
dtypes: float64(2), object(14)
memory usage: 25.5+ KB