### Scraping da carwow.com di auto cinesi ed europee

In [129]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [130]:
def get_model_urls(brand_url):
    headers = {'User-Agent': 'Mozilla/5.0'}
    res = requests.get(brand_url, headers=headers)
    soup = BeautifulSoup(res.content, 'lxml')

    model_links = soup.select('.card-compact-review')

    full_urls = []
    for link in model_links:
        href = link.get('href')
        if href:
            if href.startswith('/'):
                full_url = 'https://www.carwow.co.uk' + href.split('?')[0]
            else:
                full_url = href.split('?')[0]
            full_urls.append(full_url)

    return list(set(full_urls))  # Rimuove duplicati

In [131]:
def scrape_model_page(url):
    headers = {'User-Agent': 'Mozilla/5.0'}
    res = requests.get(url, headers=headers)
    soup = BeautifulSoup(res.content, 'lxml')

    title_elem = soup.select_one('h1')
    title = title_elem.get_text(strip=True) if title_elem else 'Not found'

    # ---- PREZZO E TAG ----
    price = 'Not found'
    tag = 'Info not available'
    price_elems = soup.select('.price--no-wrap')

    prices = []
    if price_elems:
        for elem in price_elems[:2]:
            text = elem.get_text(strip=True)
            num = ''.join(c for c in text if c.isdigit() or c == '.')
            if num:
                prices.append(float(num))

    if prices:
        avg_price = sum(prices) / len(prices)
        price = f"£{avg_price:,.0f}"
        tag = 'new'
        print(f"Average price calculated: {price}")
    else:
        summary_price_elem = soup.select_one('.summary-list__item dd')
        if summary_price_elem:
            price = summary_price_elem.get_text(strip=True)
            tag = 'used'
            print(f"Price from summary list: {price}")

    if price != 'Not found':
        try:
            price_num = float(price.replace('£', '').replace(',', '').strip())
            euro_price = price_num * 1.17  # cambio indicativo GBP->EUR
            price = f"€{euro_price:,.0f}"
        except Exception as e:
            print(f"Errore conversione prezzo: {e}")

    # ---- RATING ----
    rating_elem = soup.select_one('.review-overview__wowscore .wowscore-pill')
    rating = rating_elem.get_text(strip=True) if rating_elem else 'Not found'

    # ---- REVIEW ----
    review_elems = []
    i = 0
    while True:
        elems = soup.select(f'#slice-zone-{i} .content-block p, #slice-zone-{i} .product-article-section__head')
        if not elems:
            break
        review_elems.extend(elems)
        i += 1

    if not review_elems:
        review_elems = soup.select('#verdict p')

    review = " ".join([elem.get_text(separator=" ", strip=True) for elem in review_elems]) if review_elems else 'Not found'
    if review != 'Not found':
        review = " ".join(review.replace('\n', ' ').replace('\r', ' ').replace('\t', ' ').split())

    return {
        'url': url,
        'title': title,
        'price': price,
        'rating': rating,
        'tag': tag,
        'review': review
    }

In [132]:
brand_url = [
    'https://www.carwow.co.uk/mg',
    'https://www.carwow.co.uk/omoda',
    'https://www.carwow.co.uk/volkswagen', 
    'https://www.carwow.co.uk/dacia', 
    'https://www.carwow.co.uk/fiat',
    'https://www.carwow.co.uk/renault',
    'https://www.carwow.co.uk/citroen',
    'https://www.carwow.co.uk/bmw',
    'https://www.carwow.co.uk/peugeot',
    'https://www.carwow.co.uk/byd',
    'https://www.carwow.co.uk/gwm',
    'https://www.carwow.co.uk/jaecoo',
    'https://www.carwow.co.uk/leapmotor',
    'https://www.carwow.co.uk/xpeng',  
    ]

In [133]:
all_data = []  # inizializzazione esplicita

for brand in brand_url:
    print(f"\n=== Analyzing brand: {brand.split('/')[-1]} ===")
    model_urls = get_model_urls(brand)

    for i, url in enumerate(model_urls):
        print(f"\n--- Model: {url.split('/')[-1]} ({i+1}/{len(model_urls)}) ---")
        data = scrape_model_page(url)
        not_found_fields = [k for k, v in data.items() if v == 'Not found']
        if not_found_fields:
            print(f"Fields not found: {not_found_fields}")
        print(f"Data extracted: {data['tag']}")
        all_data.append(data)

=== Analyzing brand: mg ===

--- Model: mg-4 (1/11) ---
Average price calculated: £31,745
Data extracted: new

--- Model: 5 (2/11) ---
Average price calculated: £32,255
Data extracted: new

--- Model: zs-ev (3/11) ---
Average price calculated: £33,005
Data extracted: new

--- Model: mg3 (4/11) ---
Average price calculated: £18,995
Data extracted: new

--- Model: gs (5/11) ---
Average price calculated: £18,428
Data extracted: new

--- Model: zs (6/11) ---
Average price calculated: £22,495
Data extracted: new

--- Model: 2018 (7/11) ---
Average price calculated: £21,338
Data extracted: new

--- Model: hs (8/11) ---
Average price calculated: £30,245
Data extracted: new

--- Model: s5-ev (9/11) ---
Average price calculated: £30,995
Data extracted: new

--- Model: 4-xpower (10/11) ---
Average price calculated: £36,495
Data extracted: new

--- Model: cyberster (11/11) ---
Average price calculated: £57,495
Data extracted: new

=== Analyzing brand: omoda ===

--- Model: omoda-9 (1/3) ---
Average price calculated: £44,990
Data extracted: new

--- Model: omoda-e5 (2/3) ---
Average price calculated: £33,815
Data extracted: new

--- Model: omoda-5 (3/3) ---
Average price calculated: £26,815
Data extracted: new

=== Analyzing brand: volkswagen ===

--- Model: id7 (1/25) ---
Average price calculated: £57,062
Data extracted: new

--- Model: tayron (2/25) ---
Average price calculated: £45,170
Data extracted: new

--- Model: id4 (3/25) ---
Average price calculated: £46,902
Data extracted: new

--- Model: golf-gti (4/25) ---
Average price calculated: £42,045
Data extracted: new

--- Model: t-roc-cabriolet (5/25) ---
Average price calculated: £38,592
Data extracted: new

--- Model: golf-gte (6/25) ---
Average price calculated: £40,140
Fields not found: ['rating']
Data extracted: new

--- Model: touareg (7/25) ---
Average price calculated: £72,958
Data extracted: new

--- Model: id7-tourer (8/25) ---
Average price calculated: £57,802
Data extracted: new

--- Model: golf-estate (9/25) ---
Average price calculated: £34,202
Data extracted: new

--- Model: tiguan (10/25) ---
Average price calculated: £43,362
Data extracted: new

--- Model: id3 (11/25) ---
Average price calculated: £40,082
Data extracted: new

--- Model: passat (12/25) ---
Average price calculated: £45,685
Data extracted: new

--- Model: taigo (13/25) ---
Average price calculated: £28,950
Data extracted: new

--- Model: touareg-r (14/25) ---
Average price calculated: £82,950
Data extracted: new

--- Model: golf-r (15/25) ---
Average price calculated: £46,425
Data extracted: new

--- Model: touran (16/25) ---
Average price calculated: £41,050
Data extracted: new

--- Model: golf (17/25) ---
Average price calculated: £32,798
Data extracted: new

--- Model: multivan (18/25) ---
Average price calculated: £58,338
Data extracted: new

--- Model: polo-gti (19/25) ---
Average price calculated: £30,740
Data extracted: new

--- Model: t-roc (20/25) ---
Average price calculated: £35,060
Data extracted: new

--- Model: idbuzz (21/25) ---
Average price calculated: £64,048
Data extracted: new

--- Model: polo (22/25) ---
Average price calculated: £24,720
Data extracted: new

--- Model: t-cross (23/25) ---
Average price calculated: £29,550
Data extracted: new

--- Model: id5 (24/25) ---
Average price calculated: £48,418
Data extracted: new

--- Model: t-roc-r (25/25) ---
Average price calculated: £46,090
Data extracted: new

=== Analyzing brand: dacia ===

--- Model: logan-mcv-stepway (1/8) ---
Average price calculated: £13,898
Data extracted: new

--- Model: sandero (2/8) ---
Average price calculated: £16,465
Data extracted: new

--- Model: duster (3/8) ---
Average price calculated: £23,355
Data extracted: new

--- Model: jogger (4/8) ---
Average price calculated: £21,638
Data extracted: new

--- Model: bigster (5/8) ---
Average price calculated: £27,452
Data extracted: new

--- Model: logan-mcv (6/8) ---
Average price calculated: £10,438
Data extracted: new

--- Model: spring (7/8) ---
Average price calculated: £15,995
Fields not found: ['rating']
Data extracted: new

--- Model: sandero-stepway (8/8) ---
Average price calculated: £17,965
Data extracted: new

=== Analyzing brand: fiat ===

--- Model: tipo (1/18) ---
Price from summary list: £4,790
Data extracted: used

--- Model: 500x-dolcevita-hatchback (2/18) ---
Average price calculated: £32,855
Data extracted: new

--- Model: punto (3/18) ---
Average price calculated: £21,845
Fields not found: ['rating', 'review']
Data extracted: new

--- Model: 500c (4/18) ---
Price from summary list: £4,495
Data extracted: used

--- Model: panda-4x4 (5/18) ---
Average price calculated: £17,858
Data extracted: new

--- Model: panda (6/18) ---
Average price calculated: £15,745
Data extracted: new

--- Model: 500x (7/18) ---
Average price calculated: £30,205
Data extracted: new

--- Model: 500-electric (8/18) ---
Average price calculated: £29,535
Data extracted: new

--- Model: 500-convertible (9/18) ---
Average price calculated: £34,120
Data extracted: new

--- Model: 124-spider (10/18) ---
Average price calculated: £24,655
Data extracted: new

--- Model: 500 (11/18) ---
Average price calculated: £17,995
Data extracted: new

--- Model: qubo (12/18) ---
Fields not found: ['price']
Data extracted: Info not available

--- Model: 500l-mpw (13/18) ---
Average price calculated: £15,468
Data extracted: new

--- Model: tipo-station-wagon (14/18) ---
Price from summary list: £10,995
Data extracted: used

--- Model: panda-cross (15/18) ---
Price from summary list: £9,295
Data extracted: used

--- Model: 600 (16/18) ---
Average price calculated: £27,105
Data extracted: new

--- Model: 500l (17/18) ---
Average price calculated: £18,988
Data extracted: new

--- Model: 600e (18/18) ---
Average price calculated: £30,535
Data extracted: new

=== Analyzing brand: renault ===

--- Model: clio (1/19) ---
Average price calculated: £22,045
Data extracted: new

--- Model: scenic-e-tech (2/19) ---
Average price calculated: £41,350
Data extracted: new

--- Model: megane-etech-electric (3/19) ---
Average price calculated: £35,250
Data extracted: new

--- Model: zoe (4/19) ---
Price from summary list: £7,800
Data extracted: used

--- Model: 5-e-tech (5/19) ---
Average price calculated: £26,495
Data extracted: new

--- Model: koleos (6/19) ---
Average price calculated: £33,385
Data extracted: new

--- Model: symbioz (7/19) ---
Average price calculated: £30,595
Data extracted: new

--- Model: grand-scenic (8/19) ---
Average price calculated: £28,230
Data extracted: new

--- Model: twingo (9/19) ---
Average price calculated: £12,070
Data extracted: new

--- Model: megane (10/19) ---
Average price calculated: £24,845
Data extracted: new

--- Model: austral (11/19) ---
Average price calculated: £36,802
Data extracted: new

--- Model: megane-rs (12/19) ---
Average price calculated: £41,546
Data extracted: new

--- Model: clio-renaultsport (13/19) ---
Average price calculated: £30,506
Fields not found: ['rating', 'review']
Data extracted: new

--- Model: arkana (14/19) ---
Price from summary list: £12,799
Data extracted: used

--- Model: captur (15/19) ---
Average price calculated: £25,495
Data extracted: new

--- Model: megane-sports-tourer (16/19) ---
Average price calculated: £26,195
Data extracted: new

--- Model: rafale (17/19) ---
Average price calculated: £43,945
Data extracted: new

--- Model: kadjar (18/19) ---
Price from summary list: £5,290
Data extracted: used

--- Model: scenic (19/19) ---
Average price calculated: £26,535
Data extracted: new

=== Analyzing brand: citroen ===

--- Model: c3-origin (1/23) ---
Average price calculated: £20,335
Data extracted: new

--- Model: spacetourer (2/23) ---
Average price calculated: £43,725
Data extracted: new

--- Model: e-c4-x (3/23) ---
Average price calculated: £32,842
Data extracted: new

--- Model: c1 (4/23) ---
Average price calculated: £12,042
Data extracted: new

--- Model: c3-picasso (5/23) ---
Average price calculated: £16,478
Data extracted: new

--- Model: e-c3 (6/23) ---
Average price calculated: £22,945
Data extracted: new

--- Model: e-c3-aircross (7/23) ---
Average price calculated: £24,095
Data extracted: new

--- Model: c4-x (8/23) ---
Average price calculated: £24,270
Data extracted: new

--- Model: e-c4 (9/23) ---
Average price calculated: £32,310
Data extracted: new

--- Model: ami (10/23) ---
Average price calculated: £8,155
Data extracted: new

--- Model: holidays-campervan (11/23) ---
Average price calculated: £58,335
Fields not found: ['rating']
Data extracted: new

--- Model: e-berlingo (12/23) ---
Average price calculated: £32,498
Data extracted: new

--- Model: c1-airscape (13/23) ---
Average price calculated: £13,082
Data extracted: new

--- Model: c3-aircross (14/23) ---
Average price calculated: £23,718
Data extracted: new

--- Model: c5-aircross (15/23) ---
Average price calculated: £31,458
Data extracted: new

--- Model: e-spacetourer (16/23) ---
Average price calculated: £46,845
Fields not found: ['rating']
Data extracted: new

--- Model: c4-spacetourer (17/23) ---
Average price calculated: £26,580
Data extracted: new

--- Model: grand-c4-spacetourer (18/23) ---
Average price calculated: £28,418
Data extracted: new

--- Model: c4-cactus (19/23) ---
Average price calculated: £21,360
Data extracted: new

--- Model: c5-x (20/23) ---
Average price calculated: £35,802
Data extracted: new

--- Model: c3 (21/23) ---
Average price calculated: £20,060
Data extracted: new

--- Model: c4 (22/23) ---
Average price calculated: £24,270
Data extracted: new

--- Model: berlingo (23/23) ---
Average price calculated: £25,620
Data extracted: new

=== Analyzing brand: bmw ===

--- Model: 4-series-convertible (1/62) ---
Average price calculated: £61,122
Data extracted: new

--- Model: 5-series-touring (2/62) ---
Average price calculated: £72,155
Fields not found: ['rating']
Data extracted: new

--- Model: i5-touring (3/62) ---
Average price calculated: £90,880
Data extracted: new

--- Model: z4 (4/62) ---
Average price calculated: £56,110
Data extracted: new

--- Model: x4 (5/62) ---
Average price calculated: £62,358
Data extracted: new

--- Model: x4-m (6/62) ---
Average price calculated: £102,368
Data extracted: new

--- Model: m240i (7/62) ---
Average price calculated: £51,818
Data extracted: new

--- Model: m240i-convertible (8/62) ---
Average price calculated: £43,952
Data extracted: new

--- Model: x1 (9/62) ---
Average price calculated: £45,650
Data extracted: new

--- Model: 8-series-convertible (10/62) ---
Average price calculated: £118,548
Data extracted: new

--- Model: 3-series-gran-turismo (11/62) ---
Average price calculated: £41,180
Data extracted: new

--- Model: i3 (12/62) ---
Average price calculated: £38,875
Data extracted: new

--- Model: m8-convertible (13/62) ---
Average price calculated: £162,950
Fields not found: ['rating']
Data extracted: new

--- Model: 7-series (14/62) ---
Average price calculated: £124,958
Data extracted: new

--- Model: m8-gran-coupe (15/62) ---
Average price calculated: £153,975
Data extracted: new

--- Model: 3-series (16/62) ---
Average price calculated: £51,605
Data extracted: new

--- Model: ix3 (17/62) ---
Average price calculated: £66,670
Data extracted: new

--- Model: x7 (18/62) ---
Average price calculated: £104,055
Data extracted: new

--- Model: i5 (19/62) ---
Average price calculated: £88,830
Data extracted: new

--- Model: 4-series (20/62) ---
Average price calculated: £54,038
Data extracted: new

--- Model: m5 (21/62) ---
Average price calculated: £121,265
Data extracted: new

--- Model: x5m (22/62) ---
Average price calculated: £100,535
Data extracted: new

--- Model: x5 (23/62) ---
Average price calculated: £95,128
Data extracted: new

--- Model: m3 (24/62) ---
Average price calculated: £93,458
Data extracted: new

--- Model: 5-series (25/62) ---
Average price calculated: £70,105
Data extracted: new

--- Model: 1-series (26/62) ---
Average price calculated: £40,812
Data extracted: new

--- Model: m4-convertible (27/62) ---
Average price calculated: £99,130
Data extracted: new

--- Model: 2-series-convertible (28/62) ---
Average price calculated: £33,908
Data extracted: new

--- Model: x6 (29/62) ---
Average price calculated: £99,842
Data extracted: new

--- Model: m3-touring (30/62) ---
Average price calculated: £108,980
Data extracted: new

--- Model: 2-series-gran-coupe (31/62) ---
Average price calculated: £42,058
Data extracted: new

--- Model: xm (32/62) ---
Average price calculated: £142,640
Data extracted: new

--- Model: x7-m60i (33/62) ---
Average price calculated: £123,990
Data extracted: new

--- Model: 4-series-gran-coupe (34/62) ---
Average price calculated: £55,258
Data extracted: new

--- Model: ix2 (35/62) ---
Average price calculated: £54,345
Data extracted: new

--- Model: 2-series-coupe (36/62) ---
Average price calculated: £43,422
Data extracted: new

--- Model: ix1 (37/62) ---
Average price calculated: £50,920
Data extracted: new

--- Model: x3-m (38/62) ---
Price from summary list: £41,840
Data extracted: used

--- Model: i8 (39/62) ---
Average price calculated: £111,418
Data extracted: new

--- Model: i8-roadster (40/62) ---
Average price calculated: £127,215
Data extracted: new

--- Model: m2 (41/62) ---
Average price calculated: £69,668
Data extracted: new

--- Model: i4 (42/62) ---
Average price calculated: £61,715
Data extracted: new

--- Model: m6 (43/62) ---
Average price calculated: £99,615
Fields not found: ['rating', 'review']
Data extracted: new

--- Model: 6-series-gt (44/62) ---
Average price calculated: £54,000
Data extracted: new

--- Model: ix (45/62) ---
Average price calculated: £97,805
Data extracted: new

--- Model: x6-m-competition (46/62) ---
Average price calculated: £143,840
Data extracted: new

--- Model: 2-series-gran-tourer (47/62) ---
Average price calculated: £32,668
Data extracted: new

--- Model: 3-series-touring (48/62) ---
Average price calculated: £53,815
Data extracted: new

--- Model: m8 (49/62) ---
Average price calculated: £155,950
Data extracted: new

--- Model: 2-series-active-tourer (50/62) ---
Average price calculated: £42,562
Data extracted: new

--- Model: x2 (51/62) ---
Average price calculated: £49,510
Data extracted: new

--- Model: 8-series-gran-coupe (52/62) ---
Average price calculated: £111,148
Fields not found: ['rating']
Data extracted: new

--- Model: x3 (53/62) ---
Average price calculated: £59,885
Data extracted: new

--- Model: m135i (54/62) ---
Price from summary list: £21,650
Data extracted: used

--- Model: 6-series-gran-coupe (55/62) ---
Average price calculated: £74,902
Data extracted: new

--- Model: m4-coupe (56/62) ---
Average price calculated: £107,005
Data extracted: new

--- Model: x5-m-competition (57/62) ---
Average price calculated: £140,780
Data extracted: new

--- Model: x6m (58/62) ---
Average price calculated: £99,615
Fields not found: ['rating', 'review']
Data extracted: new

--- Model: 8-series (59/62) ---
Average price calculated: £113,122
Data extracted: new

--- Model: i7 (60/62) ---
Average price calculated: £143,052
Data extracted: new

--- Model: 6-series-convertible (61/62) ---
Average price calculated: £76,750
Data extracted: new

--- Model: m5-touring (62/62) ---
Average price calculated: £122,965
Data extracted: new

=== Analyzing brand: peugeot ===

--- Model: e-traveller (1/26) ---
Average price calculated: £52,782
Fields not found: ['rating']
Data extracted: new

--- Model: 208-gti (2/26) ---
Average price calculated: £16,490
Data extracted: new

--- Model: e-rifter (3/26) ---
Average price calculated: £34,098
Data extracted: new

--- Model: 5008 (4/26) ---
Average price calculated: £43,215
Data extracted: new

--- Model: e-3008 (5/26) ---
Average price calculated: £49,075
Data extracted: new

--- Model: e-308 (6/26) ---
Average price calculated: £38,925
Data extracted: new

--- Model: 3008 (7/26) ---
Average price calculated: £40,515
Data extracted: new

--- Model: e-208 (8/26) ---
Average price calculated: £31,505
Data extracted: new

--- Model: 208 (9/26) ---
Average price calculated: £25,648
Data extracted: new

--- Model: 508-pse (10/26) ---
Price from summary list: £27,599
Data extracted: used

--- Model: rifter (11/26) ---
Average price calculated: £30,093
Data extracted: new

--- Model: 108-top (12/26) ---
Average price calculated: £13,585
Data extracted: new

--- Model: partner-tepee (13/26) ---
Average price calculated: £32,628
Fields not found: ['rating', 'review']
Data extracted: new

--- Model: 508 (14/26) ---
Average price calculated: £46,920
Data extracted: new

--- Model: 508-sw (15/26) ---
Average price calculated: £48,120
Data extracted: new

--- Model: traveller (16/26) ---
Price from summary list: £25,986
Data extracted: used

--- Model: 308-gti (17/26) ---
Average price calculated: £30,630
Data extracted: new

--- Model: e-5008 (18/26) ---
Average price calculated: £51,775
Data extracted: new

--- Model: 308 (19/26) ---
Average price calculated: £35,845
Data extracted: new

--- Model: 408 (20/26) ---
Average price calculated: £39,010
Data extracted: new

--- Model: 2008 (21/26) ---
Average price calculated: £30,460
Data extracted: new

--- Model: 308-sw (22/26) ---
Average price calculated: £36,922
Data extracted: new

--- Model: e-308-sw (23/26) ---
Average price calculated: £40,185
Data extracted: new

--- Model: 108 (24/26) ---
Price from summary list: £4,280
Data extracted: used

--- Model: e-408 (25/26) ---
Average price calculated: £43,570
Fields not found: ['rating']
Data extracted: new

--- Model: e-2008 (26/26) ---
Average price calculated: £35,810
Data extracted: new

=== Analyzing brand: byd ===

--- Model: atto-3 (1/5) ---
Average price calculated: £38,705
Data extracted: new

--- Model: sealion-7 (2/5) ---
Average price calculated: £53,000
Data extracted: new

--- Model: seal (3/5) ---
Average price calculated: £47,205
Data extracted: new

--- Model: seal-u (4/5) ---
Average price calculated: £36,665
Data extracted: new

--- Model: dolphin (5/5) ---
Average price calculated: £28,955
Data extracted: new

=== Analyzing brand: gwm ===

--- Model: haval-jolion-pro (1/2) ---
Average price calculated: £27,275
Fields not found: ['rating']
Data extracted: new

--- Model: ora-03 (2/2) ---
Average price calculated: £30,005
Data extracted: new

=== Analyzing brand: jaecoo ===

--- Model: 7 (1/1) ---
Average price calculated: £32,640
Data extracted: new

=== Analyzing brand: leapmotor ===

--- Model: c10 (1/2) ---
Average price calculated: £36,500
Fields not found: ['rating']
Data extracted: new

--- Model: t03 (2/2) ---
Average price calculated: £15,995
Data extracted: new

=== Analyzing brand: xpeng ===

--- Model: g6 (1/1) ---
Average price calculated: £42,500
Data extracted: new

In [134]:
len(all_data)

206

In [135]:
# Dopo il ciclo, crea un DataFrame e salva come CSV

df = pd.DataFrame(all_data)
df.to_csv('/home/gvarnier/sviluppo/rossato_job/info/carwow_scraped_data_full.csv', index=False)
print("Dati salvati in carwow_scraped_data_full.csv")

Dati salvati in carwow_scraped_data_full.csv